

.App {
  text-align: center;
}

h1 {
  margin: 0 0 0 0;
  padding: 0;
  font-size: 64pt;
  font-family: 'Markazi Text';
  font-weight: 500;
  color: #F4CE14;
}

h2 {
  margin: 0;
  padding: 0;
  font-size: 40pt;
  font-family: 'Markazi Text';
  color: #EDEFEE;
  font-weight: normal;
}

h3 {
  font: 500 48pt 'Markazi Text';
}

h4 {
  font: bold 20pt 'Markazi Text';
  margin: auto auto 0 auto;
}

h5 {
  text-align: center;
  font: normal 16pt 'Karla';
}

h6 {
  font: bold 12pt 'Karla';
  margin: auto auto 5px auto;
}

p {
  line-height: 1.5;
  font-size: 16pt;
  color: #495E57;
  max-width: 55ch;
}

nav {
  align-items: center;
  justify-content: center;
  display: flex;
}

#navlinks {
  list-style-type: none;
  display: flex;
  gap: 25px;
  font-weight: bold;
}

button {
  width: 200px;
  height: 60px;
  background-color: #F4CE14;
  color: #333333;
  font: bold 16pt 'Karla';
  border-radius: 16px;
}

button:hover {
  background-color: #e4cc56;
}

button:active {
  background-color: #917a0a;
}

a {
  text-decoration: none;
  font-family: 'Karla';
  color:#333333;
  font-weight: bold;
}

img {
  border-radius: 16px;
}

header {
  padding: 40px 10vw 0 10vw;
  justify-content: center;
  background-color: #495E57;
  display: flex;
  max-height: 444px;
}

#specialHeader {
  display: flex;
  justify-content: center;
  gap: 25vw;
  margin: 20px 10vw 0 10vw;
  align-items: center;
}

#specials {
  display: flex;
  gap: 2vw;
  justify-content: center;
}

#card {
  background-color: #EFEFEE;
  border-radius: 16px;
  width: 260px;
  padding: 20px;
}

#testimonials {
  margin: 40px 0 0 0;
  background-color: #495E57;
  justify-content: center;
  display: grid;
  grid-template-rows: 1fr 2fr;
  grid-template-columns: repeat(4,1fr);
  padding: 80px;
  column-gap: 0px;
}

#testimonials > h2 {
  text-align: center;
  grid-row-start: 1;
  grid-column-start: 1;
  grid-column-end: 5;
}

#about {
  margin: 40px;
  display: flex;
  justify-content: center;
}

.footerNav {
  color: #EDEFEE;
  list-style-type: none;
}

.footerNav > li > a {
  color: #EDEFEE;
  font-weight: lighter;
}

@media (max-width: 820px) {
  header {
    flex-direction: column;
    max-height: 100vh;
  }
  
  #specials {
    flex-direction: column;
    justify-content: center;
  }

  #testimonials {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
}

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
