.App {
  text-align: center;
}

h1 {
  margin: 0;
  padding: 0;
  font-size: 64pt;
  font-family: 'Markazi Text';
  font-weight: 500;
  color: #F4CE14;
}

h2 {
  margin: 0;
  padding: 0;
  font-size: 40pt;
  font-family: 'Markazi Text';
  color: #EDEFEE;
  font-weight: normal;
}

p {
  line-height: 1.5;
  font-size: 16pt;
  color: #EDEFEE;
  max-width: 55ch;
}

nav {
  align-items: center;
  justify-content: center;
  display: flex;
}

#navlinks {
  list-style-type: none;
  display: flex;
  gap: 25px;
}

button {
  width: 200px;
  height: 60px;
  background-color: #F4CE14;
  color: #333333;
  font: bold 16pt 'Karla';
  border-radius: 16px;
}

a {
  text-decoration: none;
  color: #333333;
  font-family: 'Karla';
  font-weight: bold;
}

img {
  border-radius: 16px;
}

header {
  padding: 40px 10vw 0 10vw;
  justify-content: center;
  background-color: #495E57;
  display: flex;
  padding-left: 10vw;
  max-height: 444px;
}

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
